<!DOCTYPE html>
<htmllang="en">
  <head>
    <metacharset="UTF-8"/>
    <metaname="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <style>
      body{ 
        background: rgb(18,18,18);
      }
    </style>
  </head>
  <body>
    <!-- <h2>Welcome to {{brand}}</h2> -->
    
    <p>Hello {{email}},</p>
    <p>{{ message }}</p>
    
    <!-- <p>Password: {{password}}</p> -->
    <img :src="{{ logo }}" />
    <p>Thanks,<br/>from the ANASAE team!</p>
  </body>
</html>